/* Reseteo de márgenes y paddings predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.compass-icon {
    width: 50px;  /* Ajusta el tamaño de la imagen */
    height: 50px;
    margin-left: 0.001px;  /* Espacio entre el texto y la imagen */
    vertical-align: middle;  /* Alineación vertical con el texto */
}


body {
    font-family: 'Fira Code', monospace;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    padding: 25px 0; /* Aumento del espacio */
    text-align: center;
}

header .header-content {
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px; /* Más espacio entre el nombre y la descripción */
}

header p {
    font-size: 1.2rem;
    margin-bottom: 15px; /* Más espacio entre la descripción y la barra de navegación */
    font-weight: 400;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s;
}

nav a:hover {
    color: #aeaeae;
}

.container {
    padding: 60px 15px;
    max-width: 1200px;
    margin: auto;
}

.section {
    margin-bottom: 80px; /* Aumento del espacio entre secciones */
}

h2 {
    font-size: 2rem;
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 30px; /* Más espacio después del título */
    font-weight: 600;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.about-content img {
    max-width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Tarjetas más pequeñas */
    gap: 30px; /* Menor espacio entre tarjetas */
}

.project-card {
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px; /* Menor padding */
}

.project-card:hover {
    transform: translateY(-5px); /* Menor efecto hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 160px; /* Limitar altura de las imágenes */
}

.project-info {
    padding: 10px; /* Reducir padding interno */
}

.project-info h3 {
    font-size: 1.2rem; /* Reducir tamaño del título */
    margin-bottom: 8px;
    font-weight: 600;
}

.project-info p {
    font-size: 0.9rem; /* Reducir tamaño del texto */
    color: #000000;
}

.btn-see-more {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #474747;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-see-more:hover {
    background-color: #1e1e1e;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}


.contact-info {
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
}

.contact-info a {
    color: #0057a9;
    text-decoration: none;
}

.cv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.cv-text {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    font-size: 1rem;
    line-height: 1.5;
    color: #34495e;
}

.cv-text.left {
    text-align: right; /* Texto alineado a la derecha para el bloque izquierdo */
}

.cv-text.right {
    flex: 1;
    min-width: 250px; /* Ancho mínimo para la lista */
    max-width: 300px;
    text-align: left; /* Alineación del texto a la izquierda */
    margin-left: 20px; /* Ajusta la distancia respecto a la imagen */
}

.cv-image {
    flex: 1;
    max-width: 350px;
    text-align: center;
}


.cv-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cv-image img:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}



/* Estilo para el botón de descarga del CV */
.btn-download {
    display: inline-block;
    padding: 12px 25px;
    background-color: #474747;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-download:hover {
    background-color: #1e1e1e;
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

footer {
    text-align: center;
    background-color: #000000;
    color: white;
    padding: 20px;
    margin-top: 40px;
    font-size: 1rem;
}

footer p {
    font-weight: 400;
}
